<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="center.html">前往个人中心</a>
    <!-- border-collapse: collapse 表示边框合并 -->
    <table class="table">
        <tr>
            <th>id</th>
            <th>code</th>
            <th>short</th>
            <th>chg</th>
            <th>turnover</th>
            <th>price</th>
            <th>highs</th>
            <th>time</th>
        </tr>
        <tr>
            {%content%}
        </tr>
    </table>
</body>
</html>